@import url("https://fonts.googleapis.com/css2?family=Lato&family=Mulish&display=swap");

$primary: #eafbff;
$secondary: #5290f9;
$background: #fff;
$textcolor: #000;
$lineColor: #5290f9;

* {
	box-sizing: border-box;
	margin: 0;
}
@mixin background-gradient($primary, $secondary) {
	background: $primary;
	background-image: linear-gradient(
		to bottom,
		$primary 0%,
		$primary 50%,
		$secondary 50%,
		$secondary 100%
	);
}

body {
	@include background-gradient($primary, $secondary);
	font-family: "Mulish", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

nav {
	background: $background;
	padding: 20px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: width 0.6s linear;
	> ul {
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 0;
		transition: width 0.6s linear;
	}
	> ul > li {
		transform: rotateY("0deg");
		opacity: 0;
		transition: transform 0.6s linear, opacity 0.6s linear;
	}
	> ul > li > a {
		text-decoration: none;
		color: $textcolor;
		position: relative;
		margin: 0 10px;
	}
	&.active {
		width: 370px;
		> ul {
			width: 100%;
		}
		> ul > li {
			opacity: 1;
			transform: rotateY(360deg);
		}
		> .icon > .line1 {
			transform: rotate(-765deg) translateY(5.5px);
		}
		> .icon > .line2 {
			transform: rotate(765deg) translateY(-5.5px);
		}
	}
}

.icon {
	background-color: $background;
	border: 0;
	cursor: pointer;
	padding: 0;
	height: 30px;
	width: 30px;
	position: relative;

	:focus {
		outline: none;
	}

	> .line {
		background-color: $lineColor;
		height: 2px;
		width: 20px;
		position: absolute;
		top: 10px;
		left: 5px;
		transition: transform 0.6s linear;
	}

	> .line2 {
		top: auto;
		bottom: 10px;
	}
}
