@import url("https://fonts.googleapis.com/css2?family=Lato&family=Mulish&family=Roboto+Mono&display=swap");

* {
	box-sizing: border-box;
}

$background: #8e44ad;
$textcolor: #fff;

body, #root {
	background-color: $background;
	color: $textcolor;
	font-family: "Roboto Mono", sans-serif;
	font-size: 18px;
  display: flex;
	align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.counter-container {
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 40px;
  text-align: center;


  > .counter {
    font-size: 60px;
    margin-top: 10px;
  }
}

@media(max-width: 580px) {
  body, #root {
    flex-direction: column;
  }
  .counter-container {
    max-height: 100%;
    margin: 7px;
  }
}
